.editor-preview {
  /* display: flex; */
  /* flex: 2; */
  /* flex-direction: row; */
  /* gap: 10px; */
  align-items: top;
  justify-content: top;
  height: 100%;
  width: 100%;
  /* margin-top: 10px; */
  /* margin-bottom: 100px; */
}
.code-editor {
  overflow-y: scroll;
  padding-bottom: 50px;
  /* min-width: 90vh; */
  font-size: 14px;
}
.preview {
  border: 2px solid gray;
  overflow: auto;
  padding: 2px;
  height: 100%;
  margin-right: 20px;
  /* padding-right: 20px; */

  /* min-width: 60vh; */
  /* max-width: 100%; */
}
